.header {
	top: 0;
	height: 60px;
	background-color: rgb(255, 175, 189);
	color: white;
	text-shadow: 1px 1px 1px rgb(255, 119, 141);
	display: flex;
	justify-content: space-between;
	filter: drop-shadow(2px 2px 2px rgb(255, 92, 119));
}

.headerright {
	display: flex;
	flex-direction: row;
	padding-right: 10px;
	padding-top: 15px;
}

.headerrightcontainer {
	display: flex;
	flex-direction: row;
	padding-right: 15px;
}

.headerleft {
	padding-left: 25px;
}

.header a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

body {
	background-image: repeating-linear-gradient(
		90deg,
		white,
		white 20px,
		pink 20px,
		pink 40px
	);
}

.card {
	display: flex;
	align-items: center;
	flex-direction: column;
	color: pink;
	text-shadow: 1px 1px 1px rgb(255, 156, 173);
	margin-top: 50px;
	min-height: 500px;
	filter: drop-shadow(2px 2px 2px rgb(255, 92, 119));
}

.card a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer {
  bottom: 0;
  position: fixed;
  display: flex;
	align-items: flex-start;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 175, 189);
	color: white;
	text-shadow: 1px 1px 1px rgb(255, 119, 141);
  padding-top: 20px;
	padding-left: 20px;
}