@using PierresSweets.Models;
@model IEnumerable<PierresSweets.Models.Treat>

<h2>All Treats</h2>

@if (Model.Any())
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@treat.TreatName</li>
    }
  </ul>
} 
else
{
  <h3>No treats have been added yet!</h3>
}