<h1>Pierres Sweets</h1>
<h4>@Html.ActionLink("View All Treats", "AllTreats", "Treats")</h4>
<h4>@Html.ActionLink("View All Flavors", "AllFlavors", "Flavors")</h4>
<h4>@Html.ActionLink("Login", "Login", "Account")</h4>