<h2>Pierres Sweets</h2>

<br>

<h4>@Html.ActionLink("View All Treats", "AllTreats", "Treats")</h4>
<h4>@Html.ActionLink("View All Flavors", "AllFlavors", "Flavors")</h4>
<h4>@Html.ActionLink("Login", "Index", "Account")</h4>