<h1>Pierres Sweets</h1>
<p>@Html.ActionLink("See all treats", "Index", "Treats")</p> <p>@Html.ActionLink("See all categories", "Index", "Categories")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>